<a href="https://colab.research.google.com/github/ttlemans/dataframes/blob/main/Regresion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pathlib

import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers

url='https://raw.githubusercontent.com/ttlemans/dataframes/main/Second_hand_Cars.csv'

dataset=pd.read_csv(url)
dataset.tail()

     v.id  on road old  on road now  ...   hp  torque  current price
995   996       633238       743850  ...   95      97       190744.0
996   997       599626       848195  ...  101     120       419748.0
997   998       646344       842733  ...  113      89       405871.0
998   999       535559       732439  ...  112     128        74398.0
999  1000       590105       779743  ...   99      96       414938.5

[5 rows x 12 columns]